body {
  background-color: #D4A76A;
}
h1 {
  size: 140px;
  color: #553100;
  background-color: #FFDBAA;
  background-size: 200px;
}
/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
