h1 {
  size: 70px;
  color: #553100;
  background-color: #FFDBAA;
  margin-top: 70px;
  margin-bottom: 140px;
}
/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/
